.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.calendar {
  position: relative;
}
.line {
  position: absolute;
  left: 4rem;
  width: 1px;
  height: 100%;
  background-color: lightgray;
}

.slot {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid lightgrey;
  padding-left: 1rem;
}

.event {
  position: absolute;
  width: calc(100% - 5rem);
  left: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
}
