.App {
  font-family: sans-serif;
  text-align: center;
}
.modal-container {
  position: fixed;
  border: 1px solid black;
  padding: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
